<!DOCTYPE html>
<html>
<title>PicInfiniti</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  img {
    height: 90vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.664);
    color: white;
    text-align: center;
    height: 5vh;
    padding-top: 5px;
 }  
 .container{
  color: red;
  width: 100vw;
  height: 95vh;
  overflow: scroll;

 }
</style>
<!-- icon pack-->
<link rel="icon" href="/assets/img/blackjinja.png" type="image/gif">

<body >
  <header>
    
  </header>
  <div class="container">
    
  </div>
  <footer>
    <span>Pervious</span> |
    <span>Chapter 1</span> |
    <span>next</span>
  </footer>
</body>
<script>
  for(let i=1; i<5; i++){
    $('.container').append(`<img src="https://img.mghubcdn.com/file/imghub/onepunch-man/85/${i}.png">`)

  }
</script>

</html>